<configuration>
  <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <!-- Write Netcetera Android 3DS SDK DEBUG (and higher-level) messages to the logcat -->
  <logger name="com.netcetera.threeds.sdk" level="DEBUG"/>

  <!-- Write global DEBUG (and higher-level) messages to the logcat -->
  <root level="DEBUG">
    <appender-ref ref="LOGCAT"/>
  </root>
</configuration>